<div class="col">
    <h2 class="text-primary">History Order</h2>
</div>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.Discount</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        @(item.ShippedDate?.ToString() != null ? @item.ShippedDate.ToString("yyyy-MM-dd") : "Not shipped yet")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}