@using eStore.Models.Dto;
@model OrderResponseDTO

<h1>Order Confirmation</h1>
<p>Your order has been placed!</p>
<table>
    <tr>
        <td>Order ID:</td>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <td>Product Name:</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Category Name:</td>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <td>Company Name:</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <td>Total Price:</td>
        <td>@Model.TotalPrice</td>
    </tr>
    <tr>
        <td>Order Date:</td>
        <td>@Model.OrderDate</td>
    </tr>
    <tr>
        <td>Required Date:</td>
        <td>@Model.RequiredDate</td>
    </tr>
    <tr>
        <td>Shipped Date:</td>
        <td>
            @(Model.ShippedDate?.ToString() == null ? "Shipping" : "")
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Home</a>
        </td>
    </tr>
</table>
