@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
}

@{
    var culture = CultureInfo.CreateSpecificCulture("vi-VN");
    var customFormat = (NumberFormatInfo)culture.NumberFormat.Clone();
    customFormat.CurrencySymbol = "VND";
}

<form method="get">
    <div class="container p-4 border">
        <div class="row">
            <div class="col">
                <h2 class="text-primary">Product</h2>
            </div>
            <div class="mx-auto col">
                <div class="form-group has-search align-items-center">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-6">
                    <div class="my-3 border">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-success">@product.ProductName</h3>
                                <span class="badge badge-light mb-2 align-content-center">@product.CategoryName</span>
                                <div class="row">
                                    <div class="col">
                                        <span class="card-text">Weight: @string.Format("{0:n1} kg", product.Weight)</span>
                                    </div>
                                    <div class="col  text-right">
                                        <span class="card-text">Available: @Html.Raw(product.UnitsInStock)</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col pt-1">
                                        <span style="font-size: 22px;">@string.Format(customFormat, "{0:c}", product.UnitPrice)</span>
                                    </div>
                                    <div class="col">
                                        <a asp-controller="Order" asp-action="Index" asp-route-id="1"
                                       class="btn btn-success form-control">Order</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>