
<h2>Sales Report</h2>

<form asp-action="SalesReport">
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate" value="@(DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd"))" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="endDate" name="endDate" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
    </div>
    <button type="submit" class="btn btn-primary">Generate Report</button>
</form>
<hr/>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.Discount</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        @(item.ShippedDate?.ToString() != null ? @item.ShippedDate.ToString("yyyy-MM-dd") : "Not shipped yet")
                    </td>
                    <td>
                        <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}